.App {
  text-align: center;
}

body {
  font-family: 'Orbitron', sans-serif;
}

.App-logo {
  height: 80vmin;
  pointer-events: none;
  animation-name: rotateapplogo;
  position: absolute;
  top: -10%; /* Move the image up by 50% of its height */
  right: -10%; /* Move the image right by 50% of its width */
  transform: translate(50%, 50%); /* Center the image around the top-right corner */
  z-index: 1;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin alternate infinite 120s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-home {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}
.App-header-home-lowerpart {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-navbar {
  width: 100%;
  height: 5vh; 
  background-color: #16181c;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.navbar-link-style {
  color: white;
  /* font-family: "Work Sans", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;; */
  font-size: 1.2rem; 
  text-decoration: none;
  transition: text-shadow 0.3s ease; 

}
.navbar-link-style:link {
  color:white;
  
}
.navbar-link-style:visited {
  color:white;
  
}
.navbar-link-style:active {
  color:#8080ff;
  
}
.navbar-link-style:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  
}

.svg-triangles {
  --dark-color: #8080FF;
  --light-color: #53C0C0;
  cursor: pointer;
  margin-top: 10vh;
  z-index: 2;
  animation: svgpulse 2s infinite;
}
#dark1, #light1, #dark2 {
  transition: all 1s ease;
}
#dark2 {
  transform: translateY(-100%);
}

svg:hover #light1 {
  transform: translateY(20%);
}
svg:hover #dark1 {
  transform: translateY(40%);
  opacity: 0;
}
svg:hover #dark2 {
  transform: translateY(0%);
}
@keyframes svgpulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}

#darkGroup {
  fill: var(--dark-color);
}
#lightGroup {
  fill: var(--light-color);
}

.link-div {
  margin: 5vh;
}

.App-link {
  color: #61dafb;
}

.infocell-style {
  margin: 1%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 95%;
  padding: 1%;
  justify-content: space-evenly;
  border-radius: 5px;
}
.infocell-header {
  margin: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 60px;
}
.introbody-text {
  color: lightgray;
  font-family: sans-serif;
}
.skillsbody {
  display:flex;
  flex-direction: column;
  background-color:  #282c34;
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  margin:auto;
  margin-top: 20px;
  padding: 2%;
}

.service-main-div {
  display:flex;
  flex-direction: row;
  background-color:  #282c34;
  width: 90%;
  margin-top: 10vh;
  height: fit-content;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.service-div {
  background-color:#16181c;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5f);
  transition: box-shadow 0.3s ease;
}
.service-div:hover {
  background-color:#16181c;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(128, 128, 255, 0.5);
}
.service-header-text {
  font-family: 'Orbitron', sans-serif;
  font-size: large;
}
.service-text {
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
}
.service-header {
  width: 100%;
  height: 5vh; 
  background-color: #16181c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden-spacer {
  margin-top: 15vh;
}

.highlight-cyan {
  color: #53C0C0;
}
.highlight-magenta {
  color: #8080FF;
}
.home-welcome-container {
  background-color: #16181c;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.home-email-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  gap: 4px;
}
.home-intro-text {
  font-family: 'Orbitron', sans-serif;
  font-size: xx-large;
}
.home-intro-emailtext {
  font-family: 'Orbitron', sans-serif;
  font-size: large;
  color: white;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.member {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
}

.member:hover {
  background-color: #40407f; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
} 

.profile-pic {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  margin-bottom: 10px; 
}
h2 {
  margin-top: 0;
}

p {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }

  .member {
    margin: 10px 0;
  }
}