.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar {
  width: 100%;
  height: 10vh; 
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link-style {
  color:#8080ff;
  font-family: 'Segoe UI';
  font-size: 1.2rem; 
  text-decoration: none;
  transition: text-shadow 0.3s ease; 

}
.navbar-link-style:link {
  color:#8080ff;
  
}
.navbar-link-style:visited {
  color:#8080ff;
  
}
.navbar-link-style:active {
  color:#8080ff;
  
}
.navbar-link-style:hover {
  color:#8080ff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  
}
.link-div {
  margin: 5vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infocell-style {
  margin: 1%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 95%;
  padding: 1%;
  justify-content: space-evenly;
  border-radius: 5px;
}
.infocell-header {
  margin: 1%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  border-radius: 60px;
}
.introbody-text {
  color: lightgray;
  font-family: sans-serif;
}
.skillsbody {
  display:flex;
  flex-direction: column;
  background-color:  #282c34;
  width: 90%;
  height: fit-content;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  margin:auto;
  margin-top: 20px;
  padding: 2%;
}